.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.5vw;
  height: 100vh;
  background-color: #f1f2f3;
  box-sizing: border-box;
}
.joint {
  font-size: 2vmax;
  margin: 1vmax 0vmax;
}
.signupform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: white;
  padding: 2vmax;
  width: 25vw;
  height: 60vh;
  box-sizing: border-box;
}
.loginform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: white;
  padding: 2vmax;
  width: 25vw;
  height: 40vh;
  box-sizing: border-box;
}
.joinone {
  margin-top: 1vmax;
}
.joinonelast {
  margin-top: 1vmax;
}
.joinup {
  margin-right: 2vmax;
}
.inputs {
  border: 1px solid rgb(150, 148, 148);
  width: 21vw;
  height: 5vh;
  padding-left: 5px;
  box-sizing: border-box;
}
.submitbutton {
  background-color: #0a95ff;
  color: white;
  padding: 0.5vmax;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.sociallogin {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5vmax;
  margin: 1vmax 0vmax;
  box-sizing: border-box;
}
.git {
  background-color: #2f3337;
  color: white;
}
.fb {
  background-color: #385499;
  color: white;
}
.google {
  background-color: #ffffff;
  color: black;
}
.loginbtn {
  background-color: #e1ecf4;
  border: 1px solid #0a95ff;
  outline: none;
  padding: 5px 10px;
  margin-right: 1vmax;
  border-radius: 2px;
  color: #0a95ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupbtn {
  background-color: #0a95ff;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .signup {
    height: auto;
    flex-direction: column-reverse;
    padding: 0;
  }
  .signupform {
    width: 70vw;
  }
  .signupbox {
    margin-top: 10vh;
  }
  .sociallogin {
    width: 100%;
  }
  .inputs {
    width: 100%;
  }
  .joinup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .loginform {
    width: 100%;
    margin-bottom: 1vmax;
  }
  .submitbutton {
    width: 100%;
  }
  .joint {
    font-size: 2vmax;
    margin: 1vmax 0vmax;
  }
  .signupform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: white;
    padding: 2vmax;
    height: 240px;
    box-sizing: border-box;
  }
  .loginform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: white;
    padding: 2vmax;
    height: 170px;
    box-sizing: border-box;
  }
  .inputs {
    border: 1px solid rgb(150, 148, 148);
    height: 25px;
    padding-left: 5px;
    box-sizing: border-box;
  }
  .loginbtn {
    height: 28px;
  }
  .signupbtn {
    height: 28px;
  }
}
