*{
  margin:0;
  padding:0;
}
.navbar{
  background-color: #F8F9F9;
  height: 4vmax;
  display:flex;
  align-items: center;
  position:fixed;
  top: 0;
  width: 100vw;
  z-index: 1000000;
}
.navbarinput{
  outline: none;
  border: none;
}
.home{
  margin-top: 8.5vh;
  margin-left: 20vw;
}
.homeone{
  height:91.5vh ;
  position: fixed;
  top: 8.5vh;
  left: 0;
  width: 20.7vw;
  border-right: 1px solid rgb(220, 220, 220);
}
.box{
  height: 5vh;
  width: 30vw;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  margin-left: 16vw;
}
.smallbox{
  border-right: 1px solid rgb(220, 220, 220);
  height: 100%;
  min-width: 5vw;
  padding: 5px;
  font-size: 1vmax;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last{
  height: 100%;
  min-width: 5vw;
  padding: 5px;
  font-size: 1vmax;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected{
  background-color: #E3E6E8;
}
.bount{
  background-color: blue;
  color: white;
  margin: 5px 5px;
  padding:2px 6px;
  font-size: 1vmax;
}
.askquestion{
  outline: none;
  border: none;
  background-color:#0A95FF;
  color: white;
  padding: 5px;
  font-size: 1vmax;
}
.topcontainer{
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 100%;
  padding: 1vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.topcontainerbottom{
  width: 100%;
  padding: 2vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topcontainer h1{
  font-size: 2vmax;
}
.question{
  padding: 1vmax 2vmax;
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.questio{
display: flex;
 width:15vw;
align-items: flex-end;
flex-direction: column;
}
.tag{
  background-color: #E1ECF4;
  padding: 1px 3px;
  margin-right: 1vmax;
  font-size: 1vmax;
  color:blue;
}
.overflowblog{
  height: 80vh;
}
.homebtn{
  background-color: #E3E6E8;
  margin-top: 1vmax;
  width: 100%;
  padding-left: 1vmax;
  height: 2vmax;
  border-right: 2px solid orange;
}
.questi{
  display:flex;
 flex-direction: column;
 }