* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted",
    "Segoe UI", "Liberation Sans", sans-serif;
}
.navbar {
  background-color: #f8f9f9;
  height: 4vmax;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000000;
}
.auth {
  margin-left: 1vmax;
  width: 20vw;
  display: "flex";
  align-items: center;
  justify-content: space-evenly;
}
.navbarinput {
  outline: none;
  border: none;
}
.navbarinputcontainer {
  background-color: white;
  width: 50vw;
  height: 5vh;
  display: flex;
  align-items: center;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 2px;
}
.home {
  margin-top: 8.5vh;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
}
.homeone {
  height: 91.5vh;
  position: fixed;
  top: 5vh+20px;
  left: 0;
  width: 15%;
  border-right: 1px solid rgb(220, 220, 220);
}
.box {
  height: 5vh;
  width: 32vw;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
  margin-left: 16vw;
  margin-top: 20px;
}
.homemiddle {
  width: 68%;
}
.smallbox {
  border-right: 1px solid rgb(220, 220, 220);
  height: 100%;
  min-width: 5vw;
  padding: 5px;

  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last {
  height: 100%;
  min-width: 5vw;
  padding: 5px;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  background-color: #e3e6e8;
}
.bount {
  background-color: blue;
  color: white;
  margin: 5px 5px;
  padding: 2px 6px;
  font-size: 1vmax;
}
.askque {
  outline: none;
  border: none;
  background-color: #0a95ff;
  color: white;
  padding: 5px;
  font-size: small;
}
.askquestion {
  outline: none;
  border: none;
  background-color: #0a95ff;
  color: white;
  padding: 5px;
  font-size: small;
  margin-right: 1vmax;
}
.topcontainer {
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 100%;
  padding: 1vmax;
  display: flx;
  height: 115px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.topcontainerbottom {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topcontainer h1 {
  font-size: 2vmax;
}
.question {
  padding: 1vmax 2vmax;
  border-bottom: 1px solid rgb(220, 220, 220);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 17vh;
}
.questio {
  display: flex;
  width: 15vw;
  align-items: flex-end;
  flex-direction: column;
  height: 12vh;
  justify-content: space-evenly;
}
.tag {
  background-color: #e1ecf4;
  padding: 1px 3px;
  margin-right: 1vmax;
  height: 25px;

  color: hsl(205, 47%, 42%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0vmax 1vmax;
}
.overflowblog {
  height: 60vh;
  width: 26%;
  margin: 0 3%;
  margin-top: 20px;
}
.homebtn {
  background-color: #e3e6e8;
  margin-top: 1vmax;
  width: 100%;
  padding-left: 1vmax;
  height: 2vmax;
  border-right: 2px solid orange;
}
.footer {
  background-color: #232629;
  display: flex;
  justify-content: space-evenly;
  padding: 2vmax;
  height: 40vh;
  z-index: 1000000000000000000000000000000000000000000000;
  position: absolute;
  width: 100%;
}
.foot {
  color: #9199a1;
  font-size: 12px;
  height: 35vh;
}
.lastfoot {
  display: flex;
  flex-direction: column;
  color: #9199a1;
  justify-content: space-between;
  width: 20vw;
}
.foot h1 {
  font-size: 1.5vmax;
  color: #d6d9dc;
  font-weight: bold;
}
.auth {
  display: flex;
  justify-content: space-evenly;
}
.questi {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 12vh;
  justify-content: space-evenly;
}
.menuicon {
  display: none;
}
.lastfootdivone {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
}
.authresponsive {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #f8f9f9;
    height: 8vmax;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000000;
    justify-content: flex-start;
    padding: 1vmax;
  }
  .home {
    margin-left: 0;
    flex-direction: column;
  }
  .homeone {
    display: none;
  }
  .homemiddle {
    width: 100%;
  }
  .aboutContent h1 {
    text-align: center !important;
  }
  .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
    padding: 1vmax;
    justify-content: center;
    height: 20vh;
    box-sizing: border-box;
  }
  .questio {
    flex-direction: row;
    align-items: flex-start;
    font-size: 2vmax;
    width: 100%;
    justify-content: flex-start;
    margin-top: 0;
    box-sizing: border-box;
  }
  .questi {
    align-items: flex-start;
    font-size: 2vmax;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-top: 0;
    box-sizing: border-box;
  }
  .navbarinput {
    display: none;
  }
  .navbarinputcontainer {
    display: none;
  }
  .tag {
    height: 4vh;
  }
  .box {
    width: 90vw;
    margin-left: 1vw;
    font-size: x-small;
  }
  .stackoverflow {
    display: none;
  }
  .smallbox {
    width: auto;
  }
  .username {
    display: none;
  }

  .logout {
    display: none;
  }
  .auth {
    display: none;
  }
  .menuicon {
    display: block;
  }
  .overflowblog {
    width: 97%;
    height: auto;
    margin-right: 5vmax;
  }
  .footer {
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
  }
  .footft p {
    margin-right: 2vmax;
  }
  .foot {
    height: auto;
  }
  .footft {
    display: flex;
    flex-wrap: wrap;
  }
  .lastfootdivone {
    width: 100%;
  }
  .lastfoot {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1vmax;
  }
  .first {
    display: none;
  }
  .authresponsive {
    display: flex;
  }
}
